/* html, body{
    width: 100%; padding: 0; margin: 0;
    font-family: Arial;
} */

/* Google font  Raleway*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap");

* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* html, body {margin: 0; height: 100%; overflow: hidden} */

.infobutton,
.mapbutton {
  position: fixed;
  bottom: 3vh;
  width: 8rem;
  height: 8rem;
  margin-left: 22%;
  background-color: var(--sidebar-color);
  border-radius: 30px;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  z-index: 1;
  box-sizing: border-box;
  border: 6px solid #ffffff;
  background: none;
  box-shadow: 6px 6px 7px 4px rgba(0, 0, 0, 0.35);
}
.mapbutton i,
.infobutton i {
  padding: 10%;
  font-size: 6rem;
}
#info-button,
#map-button {
  color: var(--toggle-color);
  text-decoration: none;
  transition: var(--tran03);
}
#info-button:hover,
#map-button:hover {
  color: var(--accent-color);
}

#map {
  width: inherit;
  height: 100%;
  margin-left: 20%;
  z-index: 0;
}
/* Оформление меню (начало)*/
.menuya {
  list-style: none;
  padding: 5px;
  margin-left: 250px;
}
.menu li {
  padding: 2px;
}
.submenu {
  list-style: none;

  margin: 0 0 0 20px;
  padding: 0;
}
.submenu li {
  padding: 2px;
  font-size: 90%;
}

.dirmenu {
  width: 100%;
  height: 100%;
  margin-left: 20%;
  z-index: 1;
  display: none;
  background-color: var(--body-color);
  position: fixed;
  grid-template-columns: auto;
  grid-template-rows: max-content max-content;
  justify-content: normal;
  align-items: center;
  overflow: auto;
  bottom: 0;
}
.dirmenu li {
  list-style: none;
}
.dirmenu .grid-group-wrapper {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  margin-right: 25%;
}

.dirmenu .search {
  grid-row-start: 1;
  justify-self: center;
  margin-right: 24%;
}
.dirmenu a {
  color: var(--primary-color);
  text-decoration: none;
  transition: var(--tran02);
}
.dirmenu a:hover {
  color: var(--toggle-color);
  transition: var(--tran02);
}
.dirmenu ul {
  margin: 1%;
}
.dirmenu h3 {
  color: var(--text-color);
}
.live-search-box {
  color: var(--sidebar-color);
  border: 0.3em solid var(--toggle-color);
  border-radius: 1.5rem;
  background-color: var(--primary-color);
  /* background: linear-gradient(
    to right,
    var(--primary-color),
    var(--shadow-color)
  ); */
  height: 20vh;
  max-width: 46vw;
  max-height: 7vh;
}

:root[data-theme="light"] {
  /* Colors */
  --body-color: #f5fbf6;
  --sidebar-color: #ffffff;
  --primary-color: #15a25c;
  --shadow-color: #d2eeda;
  --primary-color-light: #e1ecf4;
  --accent-color: #009854;
  --toggle-color: #babcc9;
  --text-color: #0a0a0a;
  --footer-text-color: #808080;
  --footer-color: #0d0a09;

  /* Transition */
  --tran02: all 0.2s ease;
  --tran03: all 0.3s ease;
  --tran04: all 0.4s ease;
  --tran05: all 0.5s ease;
}
:root[data-theme="dark"] {
  /* Colors */
  --body-color: #0d2315;
  --sidebar-color: #0a0a0a;
  --primary-color: #37f18f;
  --shadow-color: #0d2315;
  --primary-color-light: #040506;
  --accent-color: #009854;
  --toggle-color: #c4e8cf;
  --text-color: #b5b9b9;
  --footer-text-color: #949998;
  --footer-color: #bcc397;

  /* Transition */
  --tran02: all 0.2s ease;
  --tran03: all 0.3s ease;
  --tran04: all 0.4s ease;
  --tran05: all 0.5s ease;
}

body {
  height: 100vh;
  background: var(--body-color);
  transition: var(--tran05);
}
.sidebar .text {
  font-weight: 500;
  color: var(--text-color);
}

.sidebar .image {
  min-width: 60px;
  display: flex;
  align-items: center;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 20%;
  padding: 10px 14px;
  background: var(--sidebar-color);
  transition: var(--tran04);
}
.sidebar li {
  height: 50px;
  background: var(--shadow-color);
  margin-top: 10px;
  list-style: none;
  display: flex;
  align-items: center;
}
.fa-bars {
  color: var(--primary-color);
}
.fa-sun {
  color: var(--primary-color);
}
.fa-moon {
  color: var(--primary-color);
}
.sidebar a:link,
i {
  color: inherit;
  text-decoration: none;
}

.sidebar image-text img {
  width: 40px;
  border-radius: 6px;
}

.sidebar header .image-text {
  align-items: center;
}

header.image-text .header-text {
  flex-direction: column;
}

.header-text .name {
  font-weight: 600;
}

.header-text .profession {
  margin-top: -2px;
}
.menu-list li {
  transition: var(--tran04);
  justify-content: center;
  font-size: 1.8rem;
}

.sidebar .menu-filters li {
  background: var(--shadow-color);
  transition: var(--tran04);
  justify-content: center;
  font-size: 1.8rem;
}
.sidebar .menu-filters li a {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.menubutton li {
  background: var(--shadow-color);
  transition: var(--tran04);
}
.sidebar .menu-filters .on {
  color: var(--primary-color);
  transition: var(--tran05);
}

.sidebar .menu-filters .off {
  color: var(--toggle-color);
  transition: var(--tran05);
}

.nav-links {
  color: var(--primary-color);
  transition: var(--tran04);
}

.menubutton li {
  transition: var(--tran04);
  justify-content: center;
  font-size: 1.8rem;
}
.alert-widget {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.alert-widget .maindisclaimer i{
  font-size: 1rem;
  color: #0a0a0a;
}
.alert-content li{
  list-style: none;
}

.alert-content {
  background-color: #fff;
  padding: 20px;
  text-align: center;
}
.cookiedisclaimer{
  font-size: smaller;
}

#closeAlertBtn {
  margin-top: 10px;
  background-color: var(--primary-color);
  
  display: inline-block;
  outline: 0;
  cursor: pointer;
  padding: 5px 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  vertical-align: middle;
  border: 1px solid;
  border-radius: 6px;
  color: var(--body-color);
  background-color: var(--primary-color);
  border-color: var(--shadow-color);
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
}

/* css для info.html */
.infomaincontent {
  margin-left: 20%;
  color: var(--text-color);
}
.infotitle {
  margin-left: 30px;
}
.infodate,
.infoauthor {
  margin-top: 1rem;
  margin-left: 1rem;
}
.infodescription {
  margin: 1em;
  text-indent: 1em;
  min-height: 70vh;
}
.infomaincontent img {
  width: 40%;
  float: left;
  margin: 1%;
  border: 6px solid var(--toggle-color);
  border-radius: 30px;
  background: none;
  max-width: 25em;
}
.infofooter {
  color: var(--footer-text-color);
  height: 10rem;
  padding-top: 1%;
  padding-left: 20%;
  background-color: var(--footer-color);
  display: grid;
  grid-template-columns: auto auto;
  position: relative;
  bottom: -1%;
  left: 0;
  right: 0;
  transition: var(--tran05);
}
.infofooter li {
  list-style: none;
  padding: 1%;
}

.infofooter li a {
  color: var(--body-color);
}
.infofooter li a:hover {
  color: var(--accent-color);
}
.infofooter i {
  font-size: 1em;
}
.infofooter .footer-linktext {
  color: var(--body-color);
  font-size: 1em;
}
.infofooter ul {
  width: 24vw;
}
.footerlist1 {
  padding-left: 3%;
}
.footerlist2 {
  padding-left: 4%;
  padding-right: 4%;
}

/*Мобильный css*/
@media (max-width: 500px) {
  .sidebar header .image-text {
    font-size: x-small;
  }
  .dirmenu {
    width: 100%;
    height: 100%;
    margin-left: 20%;
    z-index: 1;
    display: none;
    background-color: var(--body-color);
    position: fixed;
    grid-template-columns: auto;
    grid-template-rows: max-content max-content;
    justify-content: space-evenly;
    align-items: center;
    overflow: auto;
    bottom: 0;
  }
  .dirmenu .search {
    grid-row-start: 1;
    position: fixed;
    top: 1vh;
  }
  .live-search-box{
    height: 5vh;
  }
  .dirmenu .grid-group-wrapper {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    margin-right: 25%;
    margin-top: 6vh;
  }
  .infotitle {
    font-size: 1rem;
    margin-left: 0;
  }
  .infomaincontent img {
    width: 75%;
    margin: 3px;
    margin-right: 12.5%;
    margin-left: 12.5%;
    border: 6px solid var(--toggle-color);
    border-radius: 30px;
    background: none;
  }
  .infotitle h1 {
    text-align: center;
    font-size: inherit;
  }
  .infoauthor h2 {
    font-size: inherit;
    text-align: center;
    margin-left: 0;
  }
  .infodescription {
    font-size: 0.9em;
  }

  .infofooter {
    grid-template-columns: auto;
    grid-template-rows: min-content;
    height: 8rem;
    right: 0;
    justify-items: right;
  }
  .infofooter ul {
    width: 50vw;
  }
  .copyright {
    width: 50vw;
    padding-left: 3%;
  }
  .infobutton,
  .mapbutton {
    position: fixed;
    bottom: 3vh;
    width: 6rem;
    height: 6rem;
    margin-left: 22%;
    background-color: var(--sidebar-color);
    border-radius: 30px;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    z-index: 1;
    box-sizing: border-box;
    border: 6px solid #ffffff;
    background: none;
    box-shadow: 6px 6px 7px 4px rgba(0, 0, 0, 0.35);
  }
  .mapbutton i,
  .infobutton i {
    padding: 10%;
    font-size: 4rem;
  }
}
