/* html, body{
    width: 100%; padding: 0; margin: 0;
    font-family: Arial;
} */

/* Google font  Raleway*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap");

* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* html, body {margin: 0; height: 100%; overflow: hidden} */

.infobutton,
.mapbutton {
  position: fixed;
  bottom: 30px;
  width: 140px;
  height: 140px;
  margin-left: 270px;
  background-color: var(--sidebar-color);
  border-radius: 30px;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  z-index: 1;
  box-sizing: border-box;
  border: 6px solid #ffffff;
  background: none;
  box-shadow: 6px 6px 7px 4px rgba(0, 0, 0, 0.35);
}
.mapbutton i,
.infobutton i {
  padding: 10%;
  font-size: 96px;
}
#info-button,
#map-button {
  color: var(--toggle-color);
  text-decoration: none;
  transition: var(--tran03);
}
#info-button:hover,
#map-button:hover {
  color: var(--accent-color);
}

#map {
  width: inherit;
  height: 100%;
  margin-left: 250px;
  z-index: 0;
}
/* Оформление меню (начало)*/
.menuya {
  list-style: none;
  padding: 5px;
  margin-left: 250px;
}
.menu li {
  padding: 2px;
}
.submenu {
  list-style: none;

  margin: 0 0 0 20px;
  padding: 0;
}
.submenu li {
  padding: 2px;
  font-size: 90%;
}

.dirmenu {
  width: 100%;
  height: 100%;
  margin-left: 250px;
  z-index: 1;
  display: none;
  background-color: var(--body-color);
  position: fixed;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  justify-content: space-evenly;
  align-items: center;
}
.dirmenu li{
  list-style: none;
}

:root[data-theme="light"] {
  /* Colors */
  --body-color: #e4e9f7;
  --sidebar-color: #fff;
  --primary-color: #15a25c;
  --primary-color-light: #E1ECF4;
  --accent-color: #15a25c;
  --toggle-color: #babcc9;
  --text-color: #0A0A0A;
  --footer-text-color: #808080;
  --footer-color: #0D0A09;

  /* Transition */
  --tran02: all 0.2s ease;
  --tran03: all 0.3s ease;
  --tran04: all 0.4s ease;
  --tran05: all 0.5s ease;
}
:root[data-theme="dark"] {
  /* Colors */
  --body-color: #0D0A09;
  --sidebar-color: #0A0A0A;
  --primary-color: #e2e9e8;
  --primary-color-light: #040506;
  --accent-color: #15a25c;
  --toggle-color: #babcc9;
  --text-color: #A1A6A5;
  --footer-text-color: #949998;
  --footer-color: #29292C;

  /* Transition */
  --tran02: all 0.2s ease;
  --tran03: all 0.3s ease;
  --tran04: all 0.4s ease;
  --tran05: all 0.5s ease;
}

body {
  height: 100vh;
  background: var(--body-color);
}
/* Reusable CSS */
.sidebar .text {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color);
}

.sidebar .image {
  min-width: 60px;
  display: flex;
  align-items: center;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background: var(--sidebar-color);
}
.sidebar li {
  height: 50px;
  background: var(--primary-color-light);
  margin-top: 10px;
  list-style: none;
  display: flex;
  align-items: center;
}
.fa-house{
  color: var(--accent-color)
}
.fa-bars{
  color: var(--accent-color);
}
.fa-sun{
  color: var(--accent-color);
}
.sidebar a:link, i {
  color: inherit;
  text-decoration: none;
}

.sidebar header {
  position: relative;
}

.sidebar image-text img {
  width: 40px;
  border-radius: 6px;
}

.sidebar header .image-text {
  display: flex;
  align-items: center;
}

header.image-text .header-text {
  display: flex;
  flex-direction: column;
}

.header-text .name {
  font-weight: 600;
}

.header-text .profession {
  margin-top: -2px;
}

.sidebar header .toggle {
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%);
  height: 25px;
  width: 25px;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--sidebar-color);
  font-size: 22px;
}
.sidebar .menu-filters li {
  background: var(--primary-color-light);
  justify-content: center;
  font-size: 2.8rem;
  padding: 14px;
}
.sidebar .menu-filters .on {
  color: var(--accent-color);
  transition: var(--tran05);
}

.sidebar .menu-filters .off {
  color: var(--toggle-color);
  transition: var(--tran05);
}
/* css для info.html */
.infomaincontent {
  margin-left: 250px;
  color: var(--text-color)
}
.infotitle {
  margin-left: 30px;
}
.infodate,
.infoauthor {
  margin-top: 1rem;
  margin-left: 10px;
}
.infodescription {
  margin-bottom: 10px;
  text-indent: 10px;
  margin-left: 1em;
  margin-right: 1em;
  min-height: 70vh;
}
.infomaincontent img {
  width: 25vw;
  float: left;
  margin: 3px;
  margin-right: 10px;
  border: 6px solid var(--toggle-color);
  border-radius: 30px;
  background: none;
}
.infofooter {
  color: var(--footer-text-color);
  height: 180px;
  padding-top: 10px;
  padding-left: 220px;
  background-color: var(--footer-color);
  display: flex;
  position: relative;
  bottom: -10px;
  left: 0;
  right: 0;
}
.infofooter li {
  list-style: none;
  padding: 3px;
}

.infofooter li a {
  color: var(--body-color);
}
.infofooter li a:hover {
  color: var(--accent-color);
}
.infofooter i {
  font-size: 20px;
}
.infofooter .footer-linktext {
  color: var(--body-color);
  font-size: 16px;
}
.infofooter ul {
  width: 24vw;
}
.footerlist1 {
  padding-left: 20px;
}
.footerlist2 {
  padding-left: 40px;
  padding-right: 40px;
}
